In [1]:
import pandas as pd
import requests
from datetime import datetime
from sqlalchemy import create_engine
import os
uri = os.environ.get('URI')


url = 'https://api.blockchain.info/charts/transactions-per-second?timespan=all&sampled=false&metadata=false&cors=true&format=json'

resp = requests.get(url)

In [9]:
data = pd.DataFrame(resp.json()["values"])

In [10]:
data.head()

            x         y
0  1465603200  1.983333
1  1465604100  1.966667
2  1465605000  1.900000
3  1465605900  2.283333
4  1465606800  2.083333