In [1]:
import pandas as pd
import requests
from datetime import datetime
from sqlalchemy import create_engine
import os
uri = os.environ.get('URI')


url = 'https://api.blockchain.info/charts/transactions-per-second?timespan=all&sampled=false&metadata=false&cors=true&format=json'

resp = requests.get(url)

In [2]:
data = pd.DataFrame(resp.json()["values"])

In [3]:
# from timestamp to date
data['x'] = [datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S') for x in data['x']]

In [4]:
data.head()

                     x         y
0  2016-06-11 00:00:00  1.983333
1  2016-06-11 00:15:00  1.966667
2  2016-06-11 00:30:00  1.900000
3  2016-06-11 00:45:00  2.283333
4  2016-06-11 01:00:00  2.083333